<div id="container">
  <div id="button" (click)="isDropdownActive = true">

    <h6 i18n>Category</h6>
    {{ selectedType }}

    <div id="dropdown" [ngClass]="{ active: isDropdownActive }">

      <ul>
        <li *ngFor="let type of trickTypes">
          <a (click)="selectedType = type; isDropdownActive = false; $event.stopImmediatePropagation(); getAllTricksOfType()">{{ type }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<br>
<br>

<div>
  <ul style="text-align: center">

    @if(page == 'generator' && selectedType != ''){
      <li><h3>{{randomTrick }} @if (allCompletedTricksOfType.includes(randomTrick)){ &check; } @else { &cross; } </h3></li>

      <button id="generateButton" (click)="getAllTricksOfType()"><strong i18n>Generate Trick</strong></button>

    } @else if(page == 'overview'){
      @for(trick of allTricksOfType; track trick.id){
        <li><h3>{{ trick }} @if (allCompletedTricksOfType.includes(trick)){ &check; } @else { &cross; } </h3></li>
      }
    } @else if(page == 'completed'){

      @if(selectedType != ''){
        <button (click)="openDialog()" class="btn btn-success">Add Completed Trick</button>
        <br>
        <br>
      }

      @if (allCompletedTricksOfType.length != 0){
      @for(trick of allCompletedTricksOfType; track trick.id){
        <li><h3>{{ trick }} <button type="button" class="btn btn-danger" [value]="trick" (click)="openDeleteDialog()">&#10005;</button></h3></li>
      }
      } @else if (this.selectedType !== ''){
        <h3 i18n>No completed tricks in this category</h3>
      }
    }

  </ul>
</div>
